# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Compiled binary addons (http://nodejs.org/api/addons.html)
dist/bundle.js*

# Dependency directories
node_modules

# Optional npm cache directory
.npm
npm-debug.log*