/****************************
 * OBJECTS - WRAPPERS
 ****************************/

body {
    background-color: #e5e5e5;
}

.appContainer {
    text-align: center;
    margin: 0 auto;
    width: $maxWitdh;
}

.appContainer__Title {
    font-size: 24px;
    margin: 10px 0;
}

.pageHeader {

    height: $headerHeight;

    /*border: 1px solid black;*/
    margin: 5px 5px;
    background-color: white;

    &__TitleNav {
        float: left;
        width: 90%;
    }

    &__Logo {
        float: left;
        height: 60px;
        width: 10%;

        /* Text Vertical Alignemnt inside Div */
        line-height: 60px;
        vertical-align: middle;

        background-color: silver;

    }

    &__Title {
        font-size: 20px;
        text-align: left;
        padding-left: 13px;
        /* Text Vertical Alignemnt inside Div */
        line-height: 30px;
        vertical-align: middle;
    }

}

.globalNavContainer {
    /*border: 1px solid black;*/
    margin: 5px 5px;
    
    /* Text Vertical Alignemnt inside Div */
    max-height: 30px;
    height: 30px;

}

.menu {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.content {
    /*border: 1px solid black;*/
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 15px 0;
    background-color: white;

    &__Title {
        font-size: 20px;
    }

    &__Body {
        margin-top: 5px;
        padding: 10px 10px;
        text-align: left;
    }

}

.footer {
    border: 1px solid black;
    margin: 5px 5px;
}