/*------------------------------------
 *SETTINGS-GLOBAL
 *------------------------------------*/

/*
  * Set your font
  */
$fontDefault: -apple-system, BlinkMacSystemFont, Segoe UI, Arial, Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;

$maxResponsiveMenuHeight: 1000px;

$headerHeight: 60px;

