/****************************
 * UTILITIES
 ****************************/

.u_divClear {
  clear: both;
  font-size: 0;
}

/*#reactContainer {
  background-color: peachpuff;
}

#reactContainer h1 {
  color: black;
}*/
