@import '../../../stylesheets/1_Settings/_settings.colors.css';

.header {
  text-align: center;
  font-size: .8em;
  padding-bottom: 1px;
  background-color: var(--secondaryBackground);
}


/*
  Exports the variable to be exposed in CSS Modules (styles object in React)
*/
:export {
  header_bg: var(--secondaryBackground);
}
